// Global Variables
@ntnuBlue: #12569d;

// Bootstrap

@import "../components/bootstrap/less/bootstrap.less";
//@import "../components/bootstrap/less/responsive.less";

// Custom styles

body {
    padding: 40px 0;
    background: url("../img/background.png") repeat fixed;
}

.brand {
    color: @ntnuBlue !important;
    text-shadow: 1px 1px 0 darken(@ntnuBlue, 50%) !important;
    font-size: 4em;
}

.row {
	margin-top: 40px;
}

#resources {
	h3,
	p {
		margin-left: 80px;
	}

	ul {
		margin-left: 100px;
	}
}

