// Global Variables
@ntnuBlue: #12569d;

// Bootstrap

@import "../components/bootstrap/less/bootstrap.less";
//@import "../components/bootstrap/less/responsive.less";

// Custom styles

::-moz-selection{ background: @ntnuBlue; color:#fff; text-shadow: none; }
::selection { background: @ntnuBlue; color:#fff; text-shadow: none; }

body {
    padding: 40px 0;
    background: url("../img/background.png") repeat fixed;
}

.brand {
    color: @ntnuBlue !important;
    text-shadow: 0px 2px 0 darken(@ntnuBlue, 25%) !important;
    font-size: 5em;
}

.row div {

    blockquote {
        border-color: lighten(@ntnuBlue,50%);
    }

    padding-top: 40px;

    h2 {
        margin-top: 40px;
    }

    p,
    h3 {
        margin-left: 80px;
    }

    ol,
    ul {
        margin-left: 100px;
    }
}